@import "tailwindcss";

/* :root {} */

/* Tailwind theme variables */
@theme {
  --breakpoint-sm: 36rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {}
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}
