.bg-canvas-body {
  @include mantine.light {
    background-color: var(--mantine-color-gray-0);
  }
  @include mantine.dark {
    background-color: var(--mantine-color-dark-5);
  }
}

.clear-btn-hover .mantine-InputClearButton-root {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background-color: var(--mantine-color-gray-2);
    opacity: 0;
    transition: opacity 150ms ease;
    z-index: 0;
  }

  &:hover::before {
    opacity: 0.5;
  }

  > svg {
    position: relative;
    z-index: 1;
  }
}
