.bg-canvas-body {
  @include mantine.light {
    background-color: var(--mantine-color-gray-0);
  }
  @include mantine.dark {
    background-color: var(--mantine-color-dark-5);
  }
}

.clear-btn-hover .mantine-InputClearButton-root {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background-color: var(--mantine-color-gray-2);
    opacity: 0;
    transition: opacity 150ms ease;
    z-index: 0;
  }

  &:hover::before {
    opacity: 0.5;
  }

  > svg {
    position: relative;
    z-index: 1;
  }
}

.checkbox-hover-effect {
  cursor: pointer;
  .mantine-Checkbox-label {
    cursor: pointer;
  }

  .mantine-Checkbox-inner {
    &::before {
      pointer-events: none;
      content: '';
      position: absolute;
      inset: -6px;
      border-radius: 50%;
      background: var(--checkbox-color, currentColor);
      transform: scale(0);
      transition: transform .22s cubic-bezier(0, 0, .2, 1);

      @include mantine.light {
        opacity: 0.2;
      }
      @include mantine.dark {
        opacity: 0.5;
      }
    }
  }

  &.mantine-Checkbox-root:not([data-disabled]):hover .mantine-Checkbox-inner::before {
    transform: scale(1);
  }
}
