.selectInput {
  background: var(--mantine-color-stone-1);
  --input-bd: var(--mantine-color-stone-3);
  border-radius: 8px;
  height: 36px;
  font-size: 13px;

  &:focus {
    --input-bd: var(--mantine-color-stone-5);
  }
}
